@using PagedList.Core.Mvc;
@using RMLXCast.Web.ViewModels.ShopProduct;
@model ShopProductsPagedViewModel

@{
    ViewData["Title"] = "Products";
    ViewBag.PageHeaderLabel = "Товары";

    var pagedListOptions = PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext;
    pagedListOptions.LinkToNextPageFormat = "Следующая";
    pagedListOptions.LinkToPreviousPageFormat = "Предыдущая";
}
<div class="shop-area section-padding-3 pt-70 pb-100">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shhop-pl-35">
                    <div class="shop-top-bar">
                        <div class="shop-top-bar-left">
                            @*<div class="shop-top-show">
                                <span>Showing 1–12 of 39 results</span>
                            </div>*@
                            @*<div class="shop-page-list">
                                <ul>
                                    <li>Show</li>
                                    <li class="active"><a href="#">12</a></li>
                                    <li><a href="#">15</a></li>
                                    <li><a href="#">30</a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="shop-top-bar-right">
                            <div class="shop-tab nav">
                                <a href="#shop-1" class="active" data-bs-toggle="tab"><i class="dlicon ui-2_grid-45"></i></a>
                                <a href="#shop-2" data-bs-toggle="tab"><i class="dlicon design_bullet-list-69"></i></a>
                            </div>
                           @* <div class="shop-filter ml-50">
                                <a class="shop-filter-active" href="#">Filters <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></a>
                            </div>*@
                            @*<div class="shop-short-by ml-50">
                                <span>Sort by <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></span>
                                <ul>
                                    <li class="active"><a href="#">Default sorting</a></li>
                                    <li><a href="#">Sort by popularity</a></li>
                                    <li><a href="#">Sort by average rating</a></li>
                                    <li><a href="#">Sort by latest</a></li>
                                    <li><a href="#">Sort by price: low to high</a></li>
                                    <li><a href="#">Sort by price: high to low</a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <!-- MAIN PRODUCTS CONTENT START-->
                    <div class="tab-content jump-3 pt-30">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">

                                @foreach (var product in Model.viewShopProductViewModels)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                        <div class="product-wrap mb-50">
                                            <div class="product-img default-overlay mb-25">
                                                <a asp-action="ProductDetail" asp-controller="Shop" asp-route-productId="@product.Id">
                                                    <img class="default-img" src="@product.productImageUrl" alt="">
                                                    <img class="hover-img" src="@product.productImageUrl" alt="">
                                                </a>
                                                @*<div class="product-action product-action-position-1">
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                            <a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                            <a class="icon-blod" title="Add to Compare" href="#"><i class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a>
                                            <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                                            </div>*@
                                            </div>
                                            <div class="product-content-2 title-font-width-400 text-center">
                                                <h3><a asp-action="ProductDetail" asp-controller="Shop" asp-route-productId="@product.Id">@product.Name</a></h3>
                                                <div class="product-price">
                                                    <span class="new-price">@product.PriceFormated ₽</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="shop-2" class="tab-pane">

                            @foreach (var product in Model.viewShopProductViewModels)
                                {
                                <div class="shop-list-wrap mb-70">
                                    <div class="row">
                                        <div class="custom-col-32-shop">
                                            <div class="product-wrap">
                                                <div class="product-img default-overlay">
                                                    <a asp-action="ProductDetail" asp-controller="Shop" asp-route-productId="@product.Id">
                                                        <img class="default-img" src="@product.productImageUrl" alt="">
                                                        <img class="hover-img" src="@product.productImageUrl" alt="">
                                                    </a>
                                                    @* <div class="shop-list-quickview">
                                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                                </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-col-68-shop">
                                            <div class="shop-list-content ml-20">
                                                <h3><a asp-action="ProductDetail" asp-controller="Shop" asp-route-productId="@product.Id">@product.Name</a></h3>
                                                <div class="pro-list-price">
                                                    <span>@product.PriceFormated ₽</span>
                                                </div>
                                                <p>@product.ShortDescription</p>
                                                <div class="product-list-action">
                                                    @*<a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i></a>*@
                                                    @*<div class="pro-list-actioncart">
                                                <a title="Add to cart" href="#">Добавить в корзину</a>
                                                </div>*@
                                                    @* <a title="Add to Compare" href="#"><i class="fa fa-files-o"></i></a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                        </div>
                        @if (Model.viewShopProductViewModels.Count > 0)
                        {
                            <pager class="pager-container" list="@Model.viewShopProductViewModels" options="@pagedListOptions" asp-action="Products" asp-controller="Shop" asp-route-searchString="@Model.searchString" asp-route-categoryId="@Model.CategoryId"/>
                        }

                        @*<div class="pro-pagination-style text-center">
                            <ul>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="dlicon arrows-1_tail-right"></i></a></li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- MAIN PRODUCTS CONTENT END-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shop-sidebar-style mt-25">

                    @await Component.InvokeAsync("ProductCategories", Model.shopProductCategoryViewModels)

                    @*<div class="sidebar-widget mb-70">
                        <h4 class="pro-sidebar-title">Filter by price </h4>
                        <div class="price-filter mt-60">
                            <div id="slider-range"></div>
                            <div class="price-slider-amount">
                                <div class="label-input">
                                    <span>Price: </span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>

    </div>
</div>